<a href="https://colab.research.google.com/github/Satan07/LGMVIP-DataScience/blob/main/INTERMEDIATE_LEVEL_TASK1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 **DATA SCIENCE INTERN AT LETSGROWMORE LGMVIPDECEMBER 2021 BATCH**

**NAME: SATYAM PALKAR**

**INTERMEDIATE LEVEL TASK1 :  Exploratory-Data-Analysis-on-Dataset--Terrorism**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [ ]:

data = pd.read_csv("globalterrorismdb_0718dist.csv",encoding='latin1')
data.head()

        eventid  iyear  imonth  iday  ... INT_IDEO  INT_MISC INT_ANY  related
0  197000000001   1970       7     2  ...      0.0       0.0     0.0      NaN
1  197000000002   1970       0     0  ...      1.0       1.0     1.0      NaN
2  197001000001   1970       1     0  ...     -9.0       1.0     1.0      NaN
3  197001000002   1970       1     0  ...     -9.0       1.0     1.0      NaN
4  197001000003   1970       1     0  ...     -9.0       1.0     1.0      NaN

[5 rows x 135 columns]

In [ ]:
data.tail()

           eventid  iyear  imonth  iday  ... INT_IDEO  INT_MISC INT_ANY  related
2904  197503270005   1975       3    27  ...      1.0       0.0     1.0      NaN
2905  197503270006   1975       3    27  ...      1.0       0.0     1.0      NaN
2906  197503270007   1975       3    27  ...      0.0       0.0     0.0      NaN
2907  197503270008   1975       3    27  ...      1.0       1.0     1.0      NaN
2908  197503270009   1975       3    27  ...      NaN       NaN     NaN      NaN

[5 rows x 135 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2909 entries, 0 to 2908
Columns: 135 entries, eventid to related
dtypes: float64(62), int64(22), object(51)
memory usage: 3.0+ MB

In [ ]:
data.describe()

            eventid        iyear  ...     INT_MISC      INT_ANY
count  2.909000e+03  2909.000000  ...  2908.000000  2908.000000
mean   1.972186e+11  1972.122723  ...     0.527510    -1.452545
std    1.584058e+08     1.585828  ...     0.682676     4.129835
min    1.970000e+11  1970.000000  ...    -9.000000    -9.000000
25%    1.971022e+11  1971.000000  ...     0.000000     0.000000
50%    1.972083e+11  1972.000000  ...     1.000000     1.000000
75%    1.974011e+11  1974.000000  ...     1.000000     1.000000
max    1.975033e+11  1975.000000  ...     1.000000     1.000000

[8 rows x 84 columns]

In [ ]:
data.dtypes

eventid         int64
iyear           int64
imonth          int64
iday            int64
approxdate     object
               ...
INT_LOG       float64
INT_IDEO      float64
INT_MISC      float64
INT_ANY       float64
related        object
Length: 135, dtype: object

In [ ]:
data.isnull().sum()

eventid          0
iyear            0
imonth           0
iday             0
approxdate    2893
              ...
INT_LOG          1
INT_IDEO         1
INT_MISC         1
INT_ANY          1
related       2649
Length: 135, dtype: int64

In [ ]:
for i in data.columns:
    print(i, end=" ,")

eventid ,iyear ,imonth ,iday ,approxdate ,extended ,resolution ,country ,country_txt ,region ,region_txt ,provstate ,city ,latitude ,longitude ,specificity ,vicinity ,location ,summary ,crit1 ,crit2 ,crit3 ,doubtterr ,alternative ,alternative_txt ,multiple ,success ,suicide ,attacktype1 ,attacktype1_txt ,attacktype2 ,attacktype2_txt ,attacktype3 ,attacktype3_txt ,targtype1 ,targtype1_txt ,targsubtype1 ,targsubtype1_txt ,corp1 ,target1 ,natlty1 ,natlty1_txt ,targtype2 ,targtype2_txt ,targsubtype2 ,targsubtype2_txt ,corp2 ,target2 ,natlty2 ,natlty2_txt ,targtype3 ,targtype3_txt ,targsubtype3 ,targsubtype3_txt ,corp3 ,target3 ,natlty3 ,natlty3_txt ,gname ,gsubname ,gname2 ,gsubname2 ,gname3 ,gsubname3 ,motive ,guncertain1 ,guncertain2 ,guncertain3 ,individual ,nperps ,nperpcap ,claimed ,claimmode ,claimmode_txt ,claim2 ,claimmode2 ,claimmode2_txt ,claim3 ,claimmode3 ,claimmode3_txt ,compclaim ,weaptype1 ,weaptype1_txt ,weapsubtype1 ,weapsubtype1_txt ,weaptype2 ,weaptype2_txt ,weapsubtype2 ,weapsubtype2_txt ,weaptype3 ,weaptype3_txt ,weapsubtype3 ,weapsubtype3_txt ,weaptype4 ,weaptype4_txt ,weapsubtype4 ,weapsubtype4_txt ,weapdetail ,nkill ,nkillus ,nkillter ,nwound ,nwoundus ,nwoundte ,property ,propextent ,propextent_txt ,propvalue ,propcomment ,ishostkid ,nhostkid ,nhostkidus ,nhours ,ndays ,divert ,kidhijcountry ,ransom ,ransomamt ,ransomamtus ,ransompaid ,ransompaidus ,ransomnote ,hostkidoutcome ,hostkidoutcome_txt ,nreleased ,addnotes ,scite1 ,scite2 ,scite3 ,dbsource ,INT_LOG ,INT_IDEO ,INT_MISC ,INT_ANY ,related ,

In [ ]:
cols = data.columns

In [ ]:
data = data.drop(cols, axis=1)

In [ ]:
data.shape

(2909, 0)

In [ ]:
data.columns

Index([], dtype='object')

In [35]:
countries_with_most_terrorism = data.country_txt.value_counts().head(10)
countries_with_most_terrorism

AttributeError: ignored

In [34]:
countries = list(countries_with_most_terrorism.index)
countries

NameError: ignored